*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/*Home-desing*/
body {
    background-image: url(../imgs/photo-1483794344563-d27a8d18014e.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    }
    .body{
      
    }